<div class="page">
    <section class="container">
        <h1>iDough: The Future of Bread Making</h1>
        <p class="subtitle">Introducing iDough, the ultimate bread-making IoT device that combines tradition with
            technology.</p>
    </section>
    <div class="product">
        <h3 class="Header">The vision</h3>
        <div class="vision">
            <p class="bigwords">We're Changing the Way the World Thinks About Bread </p>
            <p class="paragraph"><br>Introducing our state-of-the-art IoT Bread Proving Box, a revolutionary device
                designed to elevate your home baking experience to new heights. This intelligent and connected proving
                box seamlessly blends traditional artisanal bread-making with cutting-edge technology to ensure you make
                your best bread yet</p>
        </div>
        <img src="assets/bread2.jpeg" height="500" class="image">
    </div>
    <div class="product">
        <h3 class="Header">Real-time Info</h3>
        <div class="vision">
            <p class="bigwords">Helping you make better bread</p>
            <p class="paragraph"><br>Our one of a kind bowl comes equipped with a number of sensors that monitor your
                dough 24/7 while it's resting to help make sure it has optimal conditions for the mouthwatering bread
                that you crave. You can monitor the status of your bread through your login on the webpage</p>
        </div>
        <img src="assets/bread3.jpeg" height="300" width="400" class="image" style="margin-top: 10vw;">
    </div>
    <div class="product">
        <h3 class="Header">Use idough for pizzas</h3>
        <div class="vision">
            <p class="bigwords">The most versatile dough helper</p>
            <p class="paragraph"><br>Our advanced technology can also be used to help you make authentic Italian pizzas.
                Simply follow the recipe for pizza in the recipe section</p>
        </div>
        <img src="assets/pizza.jpeg" height="300" width="400" class="image" style="margin-top: 5vw;">
    </div>
</div>