<section>
    <h1 class="title">Idough: The Future of Bread Making</h1>
    <p class="paragraph">Introducing the makers of Idough, the ultimate bread-making IoT device that combines tradition with technology.</p>
    <h2 class="subtitle">Meet The Team</h2>
</section>
<div class="info">
    <div class="number">
        <h3 class="name">Yazan Ayyoub</h3>
        <p>Yazan is a full-stack developer with a passion for IoT and bread making. He was a backend engineer on the iDough team and led the way with researchng drake memes.</p>
        <img src="assets/yazan.jpeg" alt="Yazan" width = 200 class="image">
    </div>
    <div class="number">
        <h3 class="name">James Taylor</h3>
        <p>James was a hardware developer on the bread project making the code that interface with the sensors anf finding the famous drake video</p>
        <img src="assets/james.jpeg"  width = 200 class="image">
    </div>
</div>

<div class="info">
    <div class="number">
        <h3 class="name">Omar Alkhatib</h3>
        <p>Omar was a cloud engineer on the bread project and spent many nights thinking of drake.</p>
        <img src="assets/omar.jpeg" width = 200 class="image">
    </div>
    <div class="number">
        <h3 class="name">Yasser Hassan</h3>
        <p>Yasser was a web developer on the bread project and spent many nights working.</p>
        <img src="assets/Yasser.jpg" width = 200 class="image">
    </div>
</div>
