<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="/start/" method="post">
            <label for="time">Recipe time in minutes:</label><br>
            <input type="number" id="time" name="time"><br>
            <label for="yeast">Yeast weight in grams:</label><br>
            <input type="number" id="yeast" name="yeast"><br>
            <label for="flour">Flour weight in grams:</label><br>
            <input type="number" id="flour" name="flour"><br>
            <label for="salt">Salt weight in grams:</label><br>
            <input type="number" id="salt" name="salt"><br>
            <label for="water">Water weight in milliliters:</label><br>
            <input type="number" id="water" name="water"><br>
            <input type="submit" value="Start Raspberry Pi Service">
        </form>
        <a href="{% url 'register_raspberry' %}">Register a new Raspberry Pi</a>
    </body>
</html>